@import '../../../styles/index.scss';

.SearchBox {
  width: 860px;

  @include tabletPro {
    width: 100%;
  }

  .titleWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .title {
    @include fontStyle(heading, semi-bold);
    margin-bottom: spacing(8);
    color: color(gray-800);
    display: inline-block;
  }

  .box {
    position: relative;
    display: flex;
    align-items: center;
    border: border(gray);
    border-radius: borderRadius(8);
    box-shadow: shadow(shadow1);
    overflow: hidden;
    height: 50px;
  }

  .input {
    @include fontStyle(small);
    width: 90%;
    padding: 0 spacing(8) 0 spacing(16);
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: color(primary);
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 8%;
  }
}
