@import "../../../styles/index.scss";

.SearchBox {
  width: 860px;

  @include tabletPro {
    width: 100%;
  }

  .title {
    margin-bottom: spacing(8);
    color: color(gray4);
  }

  .box {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }

  .input {
    border: border(gray1);
    border-radius: borderRadius(4);
    background-color: color(white);
    box-shadow: shadow(gray5);
    @include fontStyle(small);
    height: 100%;
    width: 90%;
    padding: 0 spacing(8) 0 spacing(16);
  }

  .iconWrapper {
    background-color: color(primary1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 10%;
    border-radius: borderRadius(4);
    margin-left: spacing(8);
  }
}
