@import "../../../styles/index.scss";

.Transaction {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: spacing(16);
  }

  .button {
    @include fontStyle(small);
  }

  .paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: spacing(32) 0;
  }
}
