@import '../../../../styles/index.scss';

.CopyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: spacing(8);
  border-radius: 50%;
  box-shadow: shadow(shadow1);
  border: border(gray);

  &:hover {
    background-color: color(bg);
  }
}
