@import '../../../styles/index.scss';

.ContentLayout {
  .header {
    display: flex;
    align-items: center;
    padding: spacing(8) 0;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: spacing(8) 0;
  }

  .button {
    $size: 36px;
    width: $size;
    height: $size;
    margin-right: spacing(16);
  }

  .title {
    @include fontStyle(large, semi-bold);
    color: color(gray-700);
  }
}
