@import "../../../styles/index.scss";

.DetailCard {
  @extend %card;
  padding: 0;

  @include tablet {
    margin-bottom: spacing(8);
  }

  .header {
    @include fontStyle(medium, semi-bold);
    border-bottom: border(gray);
    padding: spacing(8) spacing(16);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: baseline;
    margin: spacing(8);
    padding: spacing(8);
    border-bottom: border(gray);

    &.last {
      border-bottom: none;
    }

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  .title {
    @include fontStyle(small, semi-bold);

    @include tablet {
      margin-bottom: spacing(4);
    }
  }

  .value {
    @include fontStyle(small);
    width: 100%;
  }
}
