@import "../../../styles/index.scss";

.Chip {
  border-radius: borderRadius(4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: color(white);
  text-transform: capitalize;
  @include singleLineEllipsis();
  display: inline-block;

  &.primary {
    background-color: color(bg);
    color: color(primary);
  }

  &.warn {
    background-color: color(warning-tint);
    color: color(warning);
  }

  &.success {
    background-color: color(success-tint);
    color: color(success);
  }

  &.error {
    background-color: color(danger-tint);
    color: color(danger);
  }

  &.info {
    background-color: color(info-tint);
    color: color(info);
  }

  &.large {
    padding: spacing(8) spacing(16);
    @include fontStyle(small);
  }

  &.medium {
    padding: spacing(4) spacing(8);
    @include fontStyle(tiny);
  }

  &.small {
    padding: spacing(2) spacing(4);
    @include fontStyle(tiny);
  }
}
