@import '../../../../styles/index.scss';

.Logs {
  padding-top: spacing(16);

  .logItem {
    display: grid;
    grid-template-columns: 10% 90%;
    border-bottom: border(gray);
    padding-bottom: spacing(8);

    margin-bottom: spacing(16);

    @include tablet {
      grid-template-columns: 100%;
    }
  }

  .box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color(bg);
    @include fontStyle(small, semi-bold);
  }

  .smallbox {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    @include fontStyle(small);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: spacing(8);
    background-color: color(bg);
  }

  .count {
    width: 40px;
    height: 40px;
    @include fontStyle(small);

    @include tablet {
      margin-bottom: spacing(8);
    }
  }

  .item {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: spacing(8);

    @include tablet {
      grid-template-columns: 100%;
    }
  }

  .title {
    @include fontStyle(body, bold);
    text-align: left;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: spacing(8);

    @include tablet {
      margin-top: spacing(8);
    }
  }

  .btn {
    width: 30px;
    height: 30px;
    @include fontStyle(small);
    margin-right: spacing(8);
  }

  .dropdown {
    @include fontStyle(small);
    margin-right: spacing(8);
  }

  .link {
    @include fontStyle(small);
    @include singleLineEllipsis();
  }
}
