@import "../../../styles/index.scss";

.AccountDetail {
  .header {
    display: flex;

    .title {
      @include fontStyle(large, semi-bold);
      color: color(gray-700);

      span {
        @include fontStyle(small);
        @include singleLineEllipsis();
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: spacing(32);

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  .buttonWrapper {
    display: flex;

    .btn {
      @include fontStyle(small);
      margin-left: spacing(8);
    }
  }
}
