@import 'functions';
@import 'mixins';
@import 'variables';

%spacer {
  height: spacing(16);
}

%card {
  box-shadow: shadow(shadow1);
  border-radius: borderRadius(8);
  padding: spacing(8);
  border: border(gray);
}

%divider {
  border: none;
  border-top: border(gray);
  opacity: 0.75;
  margin: spacing(8) 0;
}

%verticalDivider {
  height: auto;
  opacity: 0.75;
  border-right: border(gray);
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%row {
  display: flex;
  flex-direction: row;
}

%column {
  display: flex;
  flex-direction: column;
}
