$colors: (
  bg1: #1a2151,
  bg2: #e3e8ff,
  bg3: #f8f9fa,

  black: #000000,
  white: #ffffff,
  caption: #f2f6ff,

  primary1: #8352fd,
  primary2: #3913b8,
  secondary1: #00cffd,
  secondary2: #2fb5fc,

  success: #00c9a7,
  info: #3498db,
  warn: #db9a04,
  danger: #de4437,

  gray1: #dedede,
  gray2: #818181,
  gray3: #e7eaf3,
  gray4: #4a4f55,
);

$font-weights: (
  regular: 400,
  semi-bold: 600,
  bold: 700,
);

$font-sizes: (
  display-1: (
    desktop: 66px,
    mobile: 39px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  display-2: (
    desktop: 58px,
    mobile: 36px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  display-3: (
    desktop: 52px,
    mobile: 34px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  display-4: (
    desktop: 46px,
    mobile: 32px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  display-5: (
    desktop: 41px,
    mobile: 29px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  heading-1: (
    desktop: 32px,
    mobile: 26px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  heading-2: (
    desktop: 29px,
    mobile: 24px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  heading-3: (
    desktop: 26px,
    mobile: 22px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  heading-4: (
    desktop: 23px,
    mobile: 21px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  heading-5: (
    desktop: 20px,
    mobile: 19px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  heading-6: (
    desktop: 16px,
    mobile: 16px,
    defaultWeight: bold,
    lineHeight: 1.38,
  ),
  large: (
    desktop: 18px,
    mobile: 18px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
  body: (
    desktop: 16px,
    mobile: 16px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
  small: (
    desktop: 14px,
    mobile: 14px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
  tiny: (
    desktop: 12px,
    mobile: 12px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
);

$spacing: (
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
  24: 24px,
  32: 32px,
  48: 48px,
  64: 64px,
  72: 72px,
  80: 80px,
);

$borders: (
  gray1: (
    thickness: 1px,
    color: map-get($colors, gray3),
  ),
  primary1: (
    thickness: 1px,
    color: map-get($colors, primary1),
  ),
  primary2: (
    thickness: 1px,
    color: map-get($colors, primary1),
  ),
  secondary1: (
    thickness: 1px,
    color: map-get($colors, secondary1),
  ),
  secondary2: (
    thickness: 1px,
    color: map-get($colors, secondary2),
  ),
);

$border-radiuses: (
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
);

$overlays: (
  80: rgba(map-get($colors, black), 0.8),
  50: rgba(map-get($colors, black), 0.5),
  30: rgba(map-get($colors, black), 0.3),
  20: rgba(map-get($colors, black), 0.2),
  10: rgba(map-get($colors, black), 0.1),
  0: transparent,
);

$shadows: (
  gray5: 0px 5px 14px rgba(#979797, 0.05),
  gray10: 0px 8px 16px rgba(#979797, 0.1),
  gray15: 0px 8px 16px rgba(#979797, 0.15),
  gray25: 0px 4px 24px rgba(#979797, 0.25),
);

$layout-grids: (
  default: (
    maxWidth: "none",
    columns: 12,
    gutter: 32,
    margin: 80,
  ),
  desktop: (
    maxWidth: 1440px,
    columns: 12,
    gutter: 32,
    margin: 40,
  ),
  laptop: (
    maxWidth: 1280px,
    columns: 6,
    gutter: 24,
    margin: 40,
  ),
  tabletPro: (
    maxWidth: 960px,
    columns: 4,
    gutter: 24,
    margin: 40,
  ),
  tablet: (
    maxWidth: 820px,
    columns: 4,
    gutter: 24,
    margin: 40,
  ),
  mobile: (
    maxWidth: 576px,
    columns: 4,
    gutter: 16,
    margin: 16,
  ),
  mobileXS: (
    maxWidth: 375px,
    columns: 4,
    gutter: 16,
    margin: 16,
  ),
);