$colors: (
  primary: #6610f2,
  bg: #8247e51a,
  white: #ffffff,
  success: #00a186,
  success-tint: #00c9a71a,

  info: #0784c3,
  info-tint: #0784c31a,
  
  warning: #ffc107,
  warning-tint: #ffc1071a,
  
  danger: #dc3545,
  danger-tint: #dc35451a,

  gray-100: #f8f9fa,
  gray-200: #e9ecef,
  gray-300: #dee2e6,
  gray-400: #ced4da,
  gray-500: #adb5bd,
  gray-600: #6c757d,
  gray-700: #495057,
  gray-800: #343a40,
  gray-900: #212529,
);

$font-weights: (
  regular: 400,
  normal: 500,
  semi-bold: 600,
  bold: 700,
);

$font-sizes: (
  heading: (
    desktop: 20px,
    mobile: 20px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
  large: (
    desktop: 18px,
    mobile: 18px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
  medium: (
    desktop: 16px,
    mobile: 16px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
  small: (
    desktop: 14px,
    mobile: 14px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
  tiny: (
    desktop: 12px,
    mobile: 12px,
    defaultWeight: regular,
    lineHeight: 1.54,
  ),
);

$spacing: (
  4: 4px,
  6: 6px,
  8: 8px,
  12: 12px,
  16: 16px,
  24: 24px,
  32: 32px,
  48: 48px,
  64: 64px,
  72: 72px,
  80: 80px,
);

$borders: (
  gray: (
    thickness: 1px,
    color: map-get($colors, gray-200),
  ),
  primary: (
    thickness: 1px,
    color: map-get($colors, primary),
  ),
);

$border-radiuses: (
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
);

$overlays: (
  80: rgba(map-get($colors, gray-900), 0.8),
  50: rgba(map-get($colors, gray-900), 0.5),
  30: rgba(map-get($colors, gray-900), 0.3),
  20: rgba(map-get($colors, gray-900), 0.2),
  10: rgba(map-get($colors, gray-900), 0.1),
  0: transparent,
);

$shadows: (
  shadow1: 0px 5px 14px rgba(#979797, 0.09),
  shadow2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px,
);

$layout-grids: (
  default: (
    maxWidth: "none",
    columns: 12,
    gutter: 32,
    margin: 80,
  ),
  desktop: (
    maxWidth: 1440px,
    columns: 12,
    gutter: 32,
    margin: 40,
  ),
  laptop: (
    maxWidth: 1280px,
    columns: 6,
    gutter: 24,
    margin: 40,
  ),
  tabletPro: (
    maxWidth: 960px,
    columns: 4,
    gutter: 24,
    margin: 40,
  ),
  tablet: (
    maxWidth: 820px,
    columns: 4,
    gutter: 24,
    margin: 40,
  ),
  mobile: (
    maxWidth: 576px,
    columns: 4,
    gutter: 16,
    margin: 16,
  ),
  mobileXS: (
    maxWidth: 375px,
    columns: 4,
    gutter: 16,
    margin: 16,
  ),
);