@import "../../../../styles/index.scss";

.CycleTable {
  @extend %card;

  width: 100%;
  background-color: color(white);
  border-collapse: separate !important;

  thead {
    text-align: left;
    height: 48px;

    th {
      @include fontStyle(body, bold);
      border-bottom: border(gray1);
      vertical-align: middle;
      padding-left: spacing(8);
      padding-right: spacing(8);
      color: color(gray4);
    }
  }

  tbody {
    tr {
      padding: 0 spacing(4);
      height: 48px;

      &:hover {
        background-color: color(gray3);
      }
    }

    td {
      vertical-align: middle;

      :first-child {
        padding-left: spacing(8);
      }

      :last-child {
        padding-right: spacing(8);
      }
    }
  }

  .link {
    @include fontStyle(small);
    @include singleLineEllipsis();
    width: 200px;
    display: inline-block;
    vertical-align: bottom;
    color: color(info);
  }

  span {
    @include fontStyle(small);
  }
}
