@import "../../../styles/index.scss";

.Table {
  max-width: $maxWidth;
  border: border(gray);
  border-radius: borderRadius(8);
  box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead {
    text-align: left;
    height: 48px;
  }

  th,
  td {
    border-bottom: border(gray);
    padding: spacing(8);

    &:first-child {
      padding-left: spacing(16);
    }
  }

  th {
    @include fontStyle(small, bold);
    color: color(gray-800);
    vertical-align: middle;
  }

  td {
    @include fontStyle(small);
    @include singleLineEllipsis();
  }

  tbody {
    tr {
      &:hover {
        background-color: color(gray-200);
      }
    }
  }
}
