@import "../../../styles/index.scss";

.Breadcrumb {
  display: flex;

  .item {
    margin-right: spacing(8);
    color: color(gray-800);
  }

  .inactive {
    color: color(gray-300);
  }

  .active {
    color: color(primary);
  }

  .link {
    @include fontStyle(medium, semi-bold);

    &:hover {
      color: color(primary);
    }
  }
}
