@import "../../../styles/index.scss";

.Tab {
  @extend %card;

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: border(gray);

    .tab {
      @include fontStyle(small, bold);
      padding: spacing(12) spacing(16);
      cursor: pointer;
      position: relative;
      color: color(gray-800);

      &:hover {
        color: color(primary);
      }

      &.active {
        color: color(primary);

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: spacing(16);
          right: 0;
          height: spacing(4);
          border-top-left-radius: spacing(8);
          border-top-right-radius: spacing(8);

          background-color: color(primary);
        }
      }
    }
  }

  .content {
    padding: spacing(16);
  }
}
