@import "../../styles/index.scss";

.Token {
  .header {
    display: flex;

    .title {
      @include fontStyle(heading, bold);
      color: color(gray-700);

      span {
        @include fontStyle(small);
        @include singleLineEllipsis();
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: spacing(32);

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  .buttonWrapper {
    display: flex;

    .btn {
      @include fontStyle(small);
      margin-left: spacing(8);
    }
  }

  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      @include fontStyle(heading, bold);
      color: color(gray-700);
    }

    .search {
      display: flex;
    }

    .input {
      @include fontStyle(small);
      background-color: inherit;
      border: border(gray);
      border-radius: borderRadius(4);
      padding: spacing(8);
      margin-right: spacing(8);
      min-width: 350px;

      &::placeholder {
        color: color(gray-800);
      }
      &:focus {
        outline: none;
      }

      @include tablet {
        min-width: auto;
      }
    }
  }

  .filter {
    @extend %card;
    display: flex;
    justify-content: flex-start;
    margin-top: spacing(8);
    padding: spacing(16) spacing(16);

    :first-child {
      width: 50%;
    }

    .title {
      @include fontStyle(tiny, bold);
      margin-bottom: spacing(8);
    }

    .divider {
      @extend %verticalDivider;
      margin: 0 16px;
    }

    .value {
      @include fontStyle(small);
    }
  }
}
