@import '../../../styles/index.scss';

.TokenDropdown {
  display: flex;
  // align-items: center;
  // justify-content: space-between;

  @include tablet {
    justify-content: flex-start;
  }

  .button {
    @include fontStyle(small, bold);
    color: color(gray-800);
    justify-content: space-between;
    width: 250px;

    span {
      @include fontStyle(small);
    }

    @include tabletPro {
      width: 200px;
    }

    @include tablet {
      width: 200px;
    }
  }

  .walletButton {
    padding: spacing(8);
    margin-left: spacing(8);
  }

  .item {
    border-radius: borderRadius(4);
    border: border(gray);
    padding: spacing(4) spacing(8);
    margin-bottom: spacing(16);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      @include fontStyle(small, semi-bold);
      width: 200px;

      span {
        @include fontStyle(tiny);
      }
    }
  }

  .search {
    // background-color: color(bg3);
    border: border(gray);
    outline: none;
    border-radius: borderRadius(4);
    padding: spacing(4) spacing(8);
    margin: spacing(8) 0;

    &::placeholder {
      @include fontStyle(small);
      color: color(gray-600);
    }
  }

  .menuItem {
    margin: 0;
  }

  .empty {
    padding: 0 spacing(8);
  }
}
